<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rust & Vue</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Experiment with Rust &amp; Vue.js">
    <link rel="stylesheet" href="/static/tailwind.css" />
    <link rel="stylesheet" href="/static/global.css" />
  </head>
  <body>
    <main class="p-5" id="root" v-scope>
      <h1 class="text-3xl font-bold">Pokemon</h1>
      <input
        type="text"
        id="search"
        placeholder="Search"
        class="border border-gray-400 p-2 rounded-lg w-full mt-5 text-black"
        v-model="query"
        @keyup="fetchData"
      />
      <div
        v-if="!query.length"
        class="grid grid-cols-[15%_25%_10%_10%_10%_10%_10%_10%] mt-3"
        id="table"
      >
        {% include "partial" %}
      </div>
      <div
        v-else
        class="grid grid-cols-[15%_25%_10%_10%_10%_10%_10%_10%] mt-3"
        id="table"
        v-html="data"
      ></div>
    </main>
    <script type="module" src="/static/app.js"></script>
  </body>
</html>
